<ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar style="color: #021623">
        <ion-title style="text-align: center;">Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-item class="menu-item" button (click)="cambiarVista('inicio')">
        <ion-icon slot="start" name="home-outline"></ion-icon>
        Inicio
      </ion-item>
      <ion-item class="menu-item" button (click)="cambiarVista('miClase')">
        <ion-icon slot="start" name="clipboard-outline"></ion-icon>
        Mi Clase
      </ion-item>
      <ion-item class="menu-item" button (click)="cambiarVista('misDatos')">
        <ion-icon slot="start" name="person-outline"></ion-icon>
        Mis Datos
      </ion-item>
      <ion-item class="menu-item" button (click)="cerrarSesion()" style="margin-top: 435px;">
        <ion-icon slot="start" name="log-out"></ion-icon>
        Cerrar sesión
      </ion-item>            
    </ion-content>
  </ion-menu>
  
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title #titulo class="ion-text-left ion-text font-size-18">
        Sistema de Asistencia DUOC UC
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content id="main-content" [fullscreen]="true" class="ion-padding">
    <div class="ion-text-center">
      <h1>Bienvenido {{ usuario.nombre }} {{ usuario.apellido }}</h1>
      <h4>Mis Datos</h4>
    </div>
  
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating" style="color: black;">Cuenta</ion-label>
          <ion-input [(ngModel)]="usuario.cuenta" style="color: black;"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" style="color: black;">Nombre</ion-label>
          <ion-input [(ngModel)]="usuario.nombre" style="color: black;"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" style="color: black;">Apellido</ion-label>
          <ion-input [(ngModel)]="usuario.apellido" style="color: black;"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" style="color: black;">Educación</ion-label>
          <ion-select [(ngModel)]="usuario.nivelEducacional!.id" style="color: black;">
            <ion-select-option *ngFor="let nivel of listaNivelesEducacionales" [value]="nivel.id" style="color: black;">
              {{ nivel.nombre }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="floating" style="color: black;">Correo</ion-label>
          <ion-input [(ngModel)]="usuario.correo" style="color: black;"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" style="color: black;">Pregunta secreta</ion-label>
          <ion-input [(ngModel)]="usuario.preguntaSecreta" style="color: black;"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" style="color: black;">Respuesta secreta</ion-label>
          <ion-input [(ngModel)]="usuario.respuestaSecreta" style="color: black;"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" style="color: black;">Nacimiento</ion-label>
          <ion-input [(ngModel)]="usuario.fechaNacimiento" type="date" style="color: black;"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" style="color: black;">Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="usuario.password" style="color: black;"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" style="color: black;">Repetir contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="usuario.password" style="color: black;"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>
  
    <div class="ion-text-center">
      <ion-button (click)="limpiar2()" shape="round" size="medium">
        <ion-icon name="trash-outline"></ion-icon>
        Limpieza
      </ion-button>
      <ion-button (click)="mostrarDatosPersona()" shape="round" size="medium">
        <ion-icon name="eye-outline"></ion-icon>
        Ver Mis Datos
      </ion-button>
      <ion-button (click)="actualizarDatos()" shape="round" size="medium">
        <ion-icon slot="icon-only" name="reload"></ion-icon>Actualizar
      </ion-button>
    </div>
</ion-content>
  